:host {
  display: block;
  width: 160px;
  height: 160px;

  background-color: grey;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  border: 4px solid #ffffff;
  transition: border-color 0.2s ease-in;
}

:host.active {
  border-color: #ff0000;
}
