:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 24px;
  grid-template-areas:
    "simple nested"
    "simple nested";
}

button {
  grid-area: nested;
}

app-box-container {
  grid-area: simple
}


