<main class="di-pg__main">
  <app-card>
    <app-child></app-child>
  </app-card>
  <app-card>
    <app-child></app-child>
  </app-card>
  <app-card appCustomCardConfig>
    <app-child></app-child>
  </app-card>
  <app-card appReplaceCounter>
    <app-child></app-child>
  </app-card>
  <app-card>
    <app-child appReplaceCounter></app-child>
  </app-card>
  <app-card appReplaceWithBroken>
    <app-child></app-child>
  </app-card>
  <app-card>
    <app-child appReplaceWithGlobalCounter></app-child>
  </app-card>
  <app-card appReplaceWithGlobalCounter>
    <app-child></app-child>
  </app-card>
  <app-card appReplaceWithGlobalCounter>
    <app-child></app-child>
  </app-card>
</main>
<br>
<h2>Lazy part</h2>
<br>
<router-outlet></router-outlet>
